/* Página Contêiner */
.pageContainer {
    position: relative;  /* Necessário para o posicionamento absoluto do botão */
    background-color: #00686C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh; 
  }
  
  /* Contêiner do Formulário */
  .formContainer {
    position: relative;  /* Necessário para o botão "X" ser posicionado dentro dele */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Botão de Fechar (X) */
  .closeButton {
    position: absolute;  /* Absolute para ser posicionado dentro do container */
    top: 10px;   /* Distância do topo do formulário */
    right: 10px; /* Distância da borda direita do formulário */
    background-color: rgb(131, 4, 4); /* Cor de fundo vermelha */
    color: white; /* Cor do texto branca */
    border: none;
    font-size: 1.2rem; /* Tamanho da fonte */
    font-weight: bold;
    border-radius: 50%; /* Faz o botão ficar redondo */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .closeButton:hover {
    background-color: darkred; /* Cor de fundo mais escura ao passar o mouse */
  }
  
  
  .logoContainer {
    margin-bottom: 20px;
  }
  
  .logo {
    margin-top: -100%;
    max-width: 150px; /* Ajusta o tamanho da imagem */
    height: auto;
  }
  

  .questionContainer {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ff9915;;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .questionContainer label {
    display: block;
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
    margin-bottom: 15px; /* Adiciona mais espaço abaixo das perguntas */
    line-height: 1.5; /* Melhor espaçamento entre linhas */
  }
  
  .questionContainer input,
  .questionContainer textarea {
    width: 100%; 
    max-width: 500px; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem; 
    margin-bottom: 15px; 
    box-sizing: border-box; 
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .button {
    background-color: #FF9915; 
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;  /* Define uma largura fixa */
    text-align: center; /* Alinha o texto ao centro */
  }
  
  .button:hover {
    background-color: #c57702; 
  }
  
  .submitButton {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* Estilo para as opções de radio */
.radioOption {
    display: inline-flex;
    align-items: center; /* Alinha os itens verticalmente */
    margin-right: 50px;
    margin-left: 50px;   /* Espaçamento entre as opções */
  }
  
  .radioOption input {
    margin-right: 5px;    /* Espaço entre o rádio e o texto */
  }
  
  /* Opcional: estilo para as labels */
  .radioOption label {
    font-size: 1.1rem;
    cursor: pointer;      /* Torna o texto clicável */
  }

  .submitButton:hover {
    background-color: #218838;
  }
  
  .modal {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Fundo escuro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .closeModalButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .closeModalButton:hover {
    background-color: #d32f2f;
  }
  
  
